h1 { 
  text-align: right; color: orange; 
  font-size: 30px; 
   }
em 
   {
  background-color: green 
   }
p:first-letter 
   {
    font-family: "Times New Roman", Times, serif; 
    font-size: 200%; 
    color: red; 
   }
ul 
{
	font-weight: bold;
	}
#allotment h2 
  { 
    color: orange;
  }
#warehouse h2
  { 
    color: blue; 
  }
div[id] 
  {
    font-weight: bold;
}
ol.vegetables-list  
{ 
color: red; 
	}
#allotment .fruits-list 
{
	color: grey;
	}
#warehouse .fruits-list 
{
	color: green;
	}
table 
{
     font-weight: bold;
     }	
thead 
   {
   text-align: center;
   }
tbody td:nth-child(n+2)
   {
    background: green; 
    color: #fff; 
   } 
tbody td:nth-child(1)
{
    color: orange; 
   } 