body
{
	font-size: 25px;
    font-family: Impact;
}
div.zag
{
    background: #A449D3;
    width: 100%;
    height: 45px;
    
}
div.menu
{
    width: 900px;
    margin: auto;
}
span
{
    display: inline-block;
    color: #fff;
    width: auto;
    height: 45px;
    text-align:center;
    padding: 7px 4px;
    box-sizing: border-box;   
}
span.more
{
    float: right;
}
span:hover
{
    background: silver;
}